
<div class="contai">

  <canvas id="canvas" canvas-ani3></canvas>

  <div class="panel">
    <form action="#">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{title}}</h1>
        </div>
        <div class="col-xs-12">
          用户名: <input type="text" name="username" value="">
        </div>
        <div class="col-xs-12">
          密  &nbsp;&nbsp;码: <input type="password" name="password" value="">
        </div>
        <div class="col-xs-12">
          <input type="button" name="submit" value="登陆">
        </div>
      </div>
    </form>
  </div>


</div>
